::-webkit-input-placeholder { color: rgb(64,65,54); }
::-moz-placeholder { color: rgb(64,65,54); }
:-ms-input-placeholder { color: rgb(64,65,54); }
input:-moz-placeholder { color: rgb(64,65,54); }

.negative::selection { background: white; }
.negative::-moz-selection { background: white; }

.noselect::selection { background: none; }
.noselect::-moz-selection { background: none; }
.noselect::-webkit-selection { background: none; }

a {
	color: rgb(64,65,54);
}

input {
	-webkit-appearance: none;
    border-radius: 0;
}